@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply bg-white;
    @apply dark:bg-neutral;
  }
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-size: 16px;
}

* {
  box-sizing: border-box;
}

input {
  outline: none;
}

a:link {
  text-decoration: none !important;
}

a:hover {
  text-decoration: underline;
}

img {
  max-width: 100%;
  display: block;
}
